<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel='stylesheet' href='css/jquery-ui/jquery-ui.css'>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/plugins.js"></script>
        <script data-main='js/main' src='js/vendor/require.js'></script>
    </head>
    <body>
    <div id='header'>
        <h1><a href='#'>Anonichat.net</a></h1>
        <div id='navigation'>
            <ul>
                <li><a href='#/chat'>Chat</a></li>
                <li><a href='#/setupkeys'>Setup Keys</a></li>
                <li><a href='#/wallet'>Identity Wallet</a></li>
                <li><a href='#/about'>About</a></li>
            </ul>
        </div>
    </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id='container'>

        </div>
    <div id='footer'>
        &copy; Sean Esopenko 2013
    </div>


    </body>
</html>
<script type='text/template' id='indexView'>
    This is the index
</script>
<script type='text/template' id='aboutView'>
    <p>Anonichat is a client-side encrypted web browser chat client.</p>
    <p>&copy; Sean Esopenko 2013, all rights reserved</p>
</script>
<script type='text/template' id='chatRoom'>
    <h2><%= roomName %></h2>
    <div id='members'>

    </div>
    <div id='chatLog'>

    </div>
    <div id='sendChat'>
        <input name='message' type='text' placeholder='enter a message here'/>
        <input name='sendMessage' type='button' value='Send'/>
    </div>
</script>
<script type='text/template' id='chatView'>
    <table>
        <tr>
            <td>Room Name:</td>
            <td>
                <input name='roomName' type='text' placeholder='enter a room name'/>
            </td>
        </tr>
    </table>


</script>
<script type='text/template' id='setupView'>
    <div class='step'>
        <h2>Step 1:  Password</h2>
        <p>
            <ul>
                <li>
                    Your password is required by others to decrypt your messages.
                </li>
                <li>
                    Only share it with those you trust.
                </li>
                <li>
                    If you change your password your messages cannot be decrypted until others are informed of the new one.
                </li>
                <li>
                    It can contain only letters and/or numbers.  It must be 8 characters long.
                </li>
            </ul>
        </p>
        <p><% if(password){ %>
        <input name='changePass' type='button' value='Change Password'/>
        <% } else { %>
        <input name='changePass' type='button' value='Set Password'/>
        <% } %></p>
    </div>
    <div class='step'>
        <h2>Step 2:  Private Key</h2>
        <p>
            CryptoBabble generates a <a href='http://en.wikipedia.org/wiki/Public-key_cryptography'><i>private</i> and <i>public</i>
            key</a> which are used to confirm your identity by providing <a href='http://en.wikipedia.org/wiki/Digital_signature'>digital signatures</a>.
            Never share your <i>private key</i> with anybody, not even CryptoBabble.  It is secret only to you and if it is shared
            somebody could pretend to be you.
        </p>
        <p>
            Your <i>public key</i> is required by other people to confirm your identity.  This may be shared with others.
        </p>
        <p>
            Your current public key:
        </p>
        <p class='publicKey'>
            <%= privateKey.publicKey %>
        </p>
        <p>
            <input name='generateKey' type='button' value='Generate New Key'/>
            <input name='backupKey' type='button' value='Backup Key File'/>
            <input name='restoreKey' type='button' value='Restore Key File'/>
        </p>
    </div>
    <div class='step'>
        <h2>Step 3:  How to communicate with those I trust</h2>
        <p>In order for somebody to confirm your identity they need your <i>public key</i>:</p>
        <p class='publicKey'>
            <%= privateKey.publicKey %>
        </p>
        <p>And the password, configured above.</p>
    </div>
</script>
<script type='text/template' id='walletView'>
    <div class='walletContents'>
        <h2>Wallet Contents</h2>
        <% if(wallet.length){ %>
            <table class='walletContents'>
            <% wallet.each(function(identity, index){ %>
                <tr class='identity'>
                    <td class='actions'>
                        <input name='changePass' type='button' value='Change Password' data-cid="<%= identity.cid %>"/>
                        <input name='delete' type='button' value='Delete' data-cid="<%= identity.cid %>"/>
                    </td>
                    <td class='name'>
                        <%= identity.get('name') %>
                    </td>
                    <td class='publicKey'>
                        <%= identity.get('publicKey') %>
                    </td>
                </tr>
            <% }); %>
            </table>
        <% } else { %>
        You currently do not have any identities in your wallet.
        <% } %>
    </div>
    <div class='newIdentity'>
        <h2>Add new Identity</h2>
        <table class='newIdentity'>
            <tr>
                <td>Name:</td>
                <td><input name='name' type='text' placeholder="Person's name"/></td>
            </tr>
            <tr>
                <td>Public Key:</td>
                <td><textarea name='publicKey' placeholder="Person's public key"></textarea></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input name='password' type='password' placeholder="Person's password"/><br>
                    <input name='showPassword' type='checkbox'> Show Password</input>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <input name='addIdentity' class='addIdentity' type='button' value='Add Identity'/>
                </td>
            </tr>
        </table>
    </div>
</script>
<script type='text/template' id='roomMembers'>
    <h3>Members:</h3>
    <ul>
        <% console.log('ownKey:', ownKey) %>
        <% room.each(function(user){
        console.log('user:', user);
        var publicKey = user.get('publicKey');
        var identity = wallet.findWhere({publicKey:publicKey});
        console.log('found identity:', identity);
        if(identity){
        %><li><%= identity.get('name') %></li> <%
        } else if(publicKey == ownKey){
        %><i>Me</i> <%
        } else {
        %><i>Unknown</i> <%
        }
         }); %>
    </ul>
</script>
